In [1]:
import pandas as pd
import numpy as np

C:\Users\marco\AppData\Local\Temp\ipykernel_103596\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
url = r'https://raw.githubusercontent.com/lcbjrrr/QuantumF/main/credit%20-%20ok.csv'

df_credito = pd.read_csv(url)

REALIZAREMOS ALGUMAS AN√ÅLISES DESCRITIVAS

In [3]:
df_credito.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         8322
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       12441
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                 9522
Delay_from_due_date             0
Num_of_Delayed_Payment       5805
Changed_Credit_Limit            0
Num_Credit_Inquiries         1616
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           7485
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      3689
Payment_Behaviour               0
Monthly_Balance              1019
Credit_Score                    0
dtype: int64

In [4]:
df_credito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83144 entries, 0 to 83143
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        83144 non-null  object
 1   Customer_ID               83144 non-null  object
 2   Month                     83144 non-null  object
 3   Name                      74822 non-null  object
 4   Age                       83144 non-null  object
 5   SSN                       83144 non-null  object
 6   Occupation                83144 non-null  object
 7   Annual_Income             83144 non-null  object
 8   Monthly_Inhand_Salary     70703 non-null  float64
 9   Num_Bank_Accounts         83144 non-null  int64
 10  Num_Credit_Card           83144 non-null  int64
 11  Interest_Rate             83144 non-null  int64
 12  Num_of_Loan               83144 non-null  object
 13  Type_of_Loan              73622 non-null  object
 14  Delay_from_due_date       83144 non-null  int64
 15  Num_of_Delayed_Payment    77339 non-null  object
 16  Changed_Credit_Limit      83144 non-null  object
 17  Num_Credit_Inquiries      81528 non-null  float64
 18  Credit_Mix                83144 non-null  object
 19  Outstanding_Debt          83144 non-null  object
 20  Credit_Utilization_Ratio  83144 non-null  float64
 21  Credit_History_Age        75659 non-null  object
 22  Payment_of_Min_Amount     83144 non-null  object
 23  Total_EMI_per_month       83144 non-null  float64
 24  Amount_invested_monthly   79455 non-null  object
 25  Payment_Behaviour         83144 non-null  object
 26  Monthly_Balance           82125 non-null  object
 27  Credit_Score              83144 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 17.8+ MB

In [5]:
df_credito.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,70703.000000,83144.000000,83144.000000,83144.000000,83144.000000,81528.000000,83144.000000,83144.000000
mean,4193.869821,16.924059,22.301309,73.209191,21.050382,27.681594,32.298935,1380.861140
std,3187.081513,116.875468,128.481073,470.881900,14.841171,192.442884,5.116523,8243.094161
min,319.556250,-1.000000,0.000000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1629.773333,3.000000,4.000000,8.000000,10.000000,3.000000,28.063496,30.403233
50%,3081.977500,6.000000,6.000000,13.000000,18.000000,6.000000,32.333159,68.966090
75%,5947.320000,7.000000,7.000000,20.000000,28.000000,9.000000,36.517910,160.321434
max,15204.633330,1798.000000,1499.000000,5789.000000,67.000000,2597.000000,50.000000,82331.000000

NOTAMOS INICIALMENTE QUE TEMOS MISSING VALUES NAS COLUNAS QUE ACIMA MOSTRAM DIFERENTE DE ZERO (Name, Monthly_Inhand_Salary, Type_of_Loan, Num_of_Delayed_Payment, Num_Credit_Inquiries, Credit_History_Age, Amount_invested_monthly, Monthly_Balance)

ISSO N√ÉO SIGNIFICA QUE N√ÉO PRECISAMOS OLHAR AS OUTRAS COLUNAS.

TEMOS COLUNAS COM TIPO ERRADO E QUE PRECISAM SER CORRIGIDAS. TEMOS COLUNAS ANTES QUE PRECISAM SER TRATADAS PARA A√ç SIM SEREM TROCADAS O TIPO, ENT√ÉO IREMOS ANALISAR COLUNA A COLUNA.

In [6]:
df_credito['Month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August'], dtype=object)

DECIDIMOS AJUSTAR (MAP) PARA N√öMERO DO M√äS A COLUNA 'MONTH'

In [7]:
mapping_month = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8
}

# Aplicando o mapeamento √† coluna 'Month'
df_credito['Month'] = df_credito['Month'].map(mapping_month)

PR√ìXIMO A ANALISAR √â A COLUNA 'NAME', MAS O NOME DA PESSOA N√ÉO SER√Å UTILIZADA PARA DEFINIR SE A PESSOA TEM OU N√ÉO UM BOM SCORE DE CR√âDITO

In [8]:
df_credito = df_credito.drop(columns=['ID','Name','SSN'],axis=1)

AGORA VAMOS ANALISAR A COLUNA IDADE.

In [9]:
df_credito = df_credito.sort_values(by=['Customer_ID', 'Month'],ascending=True)

In [10]:
df_credito = df_credito.sort_values(by=['Customer_ID', 'Month'],ascending=True)

df_credito['Age'] = pd.to_numeric(df_credito['Age'], errors='coerce')

df_credito['Age'] = df_credito.groupby('Customer_ID')['Age'].transform(lambda x: x.where((x >= 0) & (x <= 100), np.nan))

In [11]:
print(np.sort(df_credito['Age'].unique()))

[ 14.  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.
  28.  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.
  42.  43.  44.  45.  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.
  56.  95.  99. 100.  nan]

AVALIAMOS QUE AS IDADES PODEM VARIAR DE 14 AT√â 56. ASSUMIREMOS QUE 95, 99 E 100 TAMB√âM S√ÉO GAPS E PRECISAM SER TRATADOS

In [12]:
df_credito['Age'] = df_credito.groupby('Customer_ID')['Age'].transform(lambda x: x.where((x >= 14) & (x <= 60), np.nan))
print(np.sort(df_credito['Age'].unique()))

[14. 15. 16. 17. 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31.
 32. 33. 34. 35. 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49.
 50. 51. 52. 53. 54. 55. 56. nan]

In [13]:
def preencher_age(df):
    df['Age'] = df.groupby('Customer_ID')['Age'].transform(lambda x: x.ffill().bfill())
    return df

# Aplicando a corre√ß√£o
df_credito = preencher_age(df_credito)

In [14]:
print(np.sort(df_credito['Age'].unique()))

[14. 15. 16. 17. 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31.
 32. 33. 34. 35. 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49.
 50. 51. 52. 53. 54. 55. 56.]

AGORA VAMOS PARA OCUPA√á√ÉO (EMPREGO)

In [15]:
df_credito['Occupation'].unique() #avaliamos quais ocupa√ß√µes existem no dataset

array(['Lawyer', 'Mechanic', '_______', 'Media_Manager', 'Doctor',
       'Journalist', 'Manager', 'Entrepreneur', 'Scientist', 'Accountant',
       'Architect', 'Teacher', 'Writer', 'Musician', 'Developer',
       'Engineer'], dtype=object)

In [16]:
#precisamos tratar o '_______', assumindo que este n√£o tem emprego e isso seria 0
df_credito['Occupation'] = df_credito['Occupation'].replace('_______',np.nan)

def preencher_Occupation(df):
    df['Occupation'] = df.groupby('Customer_ID')['Occupation'].transform(lambda x: x.ffill().bfill())
    return df

# Aplicando a corre√ß√£o
df_credito = preencher_Occupation(df_credito)
df_credito['Occupation'] = df_credito['Occupation'].str.replace("_"," ")

AGORA VAMOS PARA ANNUAL_INCOME

In [17]:
df_credito['Annual_Income'] = df_credito['Annual_Income'].str.replace("_","")
df_credito['Annual_Income'] = df_credito['Annual_Income'].astype(float)

E ASSIM POR DIANTE

In [18]:
# Fun√ß√£o geral para preencher valores nulos com a moda
def preenchermoda(df, column):
    df[column] = df.groupby('Customer_ID')[column].transform(lambda x: x.mode()[0] if not x.mode().empty else x)
    return df

# Fun√ß√£o geral para preencher valores nulos com a m√©dia
def preenchermedia(df, column):
    df[column] = pd.to_numeric(df[column], errors='coerce')  # Garantindo que a coluna seja num√©rica
    df[column] = df.groupby('Customer_ID')[column].transform(lambda x: x.fillna(x.mean()))
    return df

# Fun√ß√£o geral para substituir valores negativos por zero
def trocarnegativoporzero(df, column):
    df[column] = df[column].apply(lambda x: 0 if x < 0 else x)
    return df

# Ajustes espec√≠ficos para cada coluna usando as fun√ß√µes gen√©ricas
df_credito = preenchermedia(df_credito, 'Monthly_Inhand_Salary')
df_credito = trocarnegativoporzero(df_credito, 'Num_Bank_Accounts')
df_credito = preenchermoda(df_credito, 'Num_Bank_Accounts')
df_credito = preenchermoda(df_credito, 'Num_Credit_Card')
df_credito = preenchermoda(df_credito, 'Interest_Rate')

# Ajustes para 'Num_of_Loan'
df_credito['Num_of_Loan'] = df_credito['Num_of_Loan'].str.replace("_", "").astype(int)
df_credito = trocarnegativoporzero(df_credito, 'Num_of_Loan')
df_credito = preenchermoda(df_credito, 'Num_of_Loan')

# Ajustes para 'Delay_from_due_date'
df_credito = trocarnegativoporzero(df_credito, 'Delay_from_due_date')

# Ajustes para 'Num_of_Delayed_Payment'
df_credito['Num_of_Delayed_Payment'] = df_credito['Num_of_Delayed_Payment'].str.replace("_", "")
df_credito = preenchermoda(df_credito, 'Num_of_Delayed_Payment')
df_credito['Num_of_Delayed_Payment'] = df_credito['Num_of_Delayed_Payment'].astype(int)
df_credito = trocarnegativoporzero(df_credito, 'Num_of_Delayed_Payment')

# Ajustes para 'Changed_Credit_Limit'
df_credito['Changed_Credit_Limit'] = df_credito['Changed_Credit_Limit'].str.replace("_", "")
df_credito = preenchermedia(df_credito, 'Changed_Credit_Limit')

# Ajustes para 'Credit_Mix'
df_credito['Credit_Mix'] = df_credito['Credit_Mix'].replace('_', pd.NA)
df_credito = preenchermoda(df_credito, 'Credit_Mix')

# Ajustes para 'Outstanding_Debt'
df_credito['Outstanding_Debt'] = df_credito['Outstanding_Debt'].str.replace("_", "")
df_credito = preenchermedia(df_credito, 'Outstanding_Debt')

# Ajustes para 'Type_of_Loan'
df_credito = preenchermoda(df_credito, 'Type_of_Loan')
df_credito['Type_of_Loan'] = df_credito['Type_of_Loan'].fillna("Not Specified")

# Ajustes para 'Num_Credit_Inquiries'
df_credito = preenchermoda(df_credito, 'Num_Credit_Inquiries')

# Fun√ß√£o para converter idade de hist√≥rico de cr√©dito para meses
def converteanosparameses(age):
    if isinstance(age, str):
        years, months = 0, 0
        if 'Years' in age:
            years = int(age.split('Years')[0].strip())
        if 'Months' in age:
            months = int(age.split('and')[1].replace('Months', '').strip())
        return years * 12 + months
    return np.nan

# Fun√ß√£o para tratar a coluna com todas as abordagens poss√≠veis
def trata_credit_history_age(df, coluna_idade='Credit_History_Age', coluna_cliente='Customer_ID'):
    # 1. Converter idade para meses
    df[coluna_idade] = df[coluna_idade].apply(converteanosparameses)
    
    # 2. Interpola√ß√£o e preenchimento
    def processa_grupo(grupo):
        # Interpolar valores dentro do grupo
        grupo[coluna_idade] = grupo[coluna_idade].interpolate(method='linear')
        # Preencher valores nulos no in√≠cio e no fim do grupo
        grupo[coluna_idade] = grupo[coluna_idade].fillna(method='ffill').fillna(method='bfill')
        return grupo
    
    # 3. Aplicar a fun√ß√£o de processamento em cada grupo, garantindo que o √≠ndice original seja mantido
    df = df.groupby(coluna_cliente, group_keys=False).apply(processa_grupo)
    
    return df

# Exemplo de aplica√ß√£o
df_credito = trata_credit_history_age(df_credito)

# Ajustes para 'Payment_of_Min_Amount'
df_credito = preenchermoda(df_credito, 'Payment_of_Min_Amount')

# Ajustes para 'Total_EMI_per_month'
df_credito = preenchermoda(df_credito, 'Total_EMI_per_month')

# Ajustes para 'Amount_invested_monthly'
df_credito = preenchermedia(df_credito, 'Amount_invested_monthly')

# Fun√ß√£o para substituir valores inv√°lidos de 'Payment_Behaviour'
def trocavalorinvalido(df):
    df['Payment_Behaviour'] = df.groupby('Customer_ID')['Payment_Behaviour'].transform(lambda x: x.replace("!@9#%8", x.mode()[0]))
    return df

df_credito = trocavalorinvalido(df_credito)

# Ajustes para 'Monthly_Balance'
df_credito = preenchermedia(df_credito, 'Monthly_Balance')

C:\Users\marco\AppData\Local\Temp\ipykernel_103596\3749770706.py:78: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  grupo[coluna_idade] = grupo[coluna_idade].fillna(method='ffill').fillna(method='bfill')
C:\Users\marco\AppData\Local\Temp\ipykernel_103596\3749770706.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby(coluna_cliente, group_keys=False).apply(processa_grupo)

In [19]:
df_credito.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83144 entries, 56752 to 82303
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_ID               83144 non-null  object
 1   Month                     83144 non-null  int64
 2   Age                       83144 non-null  float64
 3   Occupation                83144 non-null  object
 4   Annual_Income             83144 non-null  float64
 5   Monthly_Inhand_Salary     83144 non-null  float64
 6   Num_Bank_Accounts         83144 non-null  int64
 7   Num_Credit_Card           83144 non-null  int64
 8   Interest_Rate             83144 non-null  int64
 9   Num_of_Loan               83144 non-null  int64
 10  Type_of_Loan              83144 non-null  object
 11  Delay_from_due_date       83144 non-null  int64
 12  Num_of_Delayed_Payment    83144 non-null  int64
 13  Changed_Credit_Limit      83144 non-null  float64
 14  Num_Credit_Inquiries      83144 non-null  float64
 15  Credit_Mix                83144 non-null  object
 16  Outstanding_Debt          83144 non-null  float64
 17  Credit_Utilization_Ratio  83144 non-null  float64
 18  Credit_History_Age        83144 non-null  float64
 19  Payment_of_Min_Amount     83144 non-null  object
 20  Total_EMI_per_month       83144 non-null  float64
 21  Amount_invested_monthly   83144 non-null  float64
 22  Payment_Behaviour         83144 non-null  object
 23  Monthly_Balance           83144 non-null  float64
 24  Credit_Score              83144 non-null  object
dtypes: float64(11), int64(7), object(7)
memory usage: 16.5+ MB

CORRIGINDO OS TYPES DOS DADOS, CASO NECESS√ÅRIO

In [20]:
df_credito['Age'] = df_credito['Age'].astype(int)
df_credito['Num_Credit_Inquiries'] = df_credito['Num_Credit_Inquiries'].astype(int)
df_credito['Credit_History_Age'] = df_credito['Credit_History_Age'].astype(int)

In [23]:
#checando novamente se h√° missing data

df_credito.isnull().sum()

Customer_ID                 0
Month                       0
Age                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64